<h1>Login</h1>
@model User
<form asp-action="LoginIn" asp-controller="Home" method="POST">
    <h3>@ViewBag.error</h3>
    <p>Email: <input asp-for="Email"></p>
    <p>Password: <input asp-for="Password"></p>
    <input type="submit" value="Login">
</form>
<a href="/">Need to Register?</a>